<!doctype html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <div class="container py-3 bg-light">
      <%- include('partials/header'); %>
      <main>
          
          <!-- Search -->
          <div class="search-filter mt-2">
            
            <nav class="navbar navbar-dark bg-light border-dark border-bottom border-top rounded">
              <div class="container-fluid">
                <form class="row g-3" action="/" method="get">
                  <div class="col-md-11">
                    <label for="inputSearch" class="form-label">Поиск</label>
                    <input name="search" type="search" class="form-control" id="inputSearch">
                  </div>
                  <div class="col-md-1">
                    <span class="input-group-text fa fa-search fa-2x mt-4 " id="search-addon">
                    </span>
                  </div>
                  <div class="col-md-3">
                    <label for="inputPriceFrom" class="form-label text-muted">Цена от</label>
                    <input name="priceFrom" type="number" name="priceFrom" class="form-control" id="inputPriceFrom">
                  </div>
                  <div class="col-md-3">
                    <label for="inputPriceTo" class="form-label">Цена до</label>
                    <input name="priceTo" type="number" class="form-control" id="inputPriceTo">
                  </div>
                  <div class="col-md-3">
                    <label for="select-categories" class="form-label select-sort me-3">Категория</label>
                    <select name="category" class="form-select select-sort" id="select-categories">
                      <%  for(let i = 0; i < categories.length; i++) { %>
                        <option value=<%= categories[i].title %>><%= categories[i].title %></option>
                      <% } %>
                      <option value="" selected="true">Все</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="select-sort" class="form-label me-3">Сортировка по</label>
                    <select name="sort" class="form-select" id="select-sort">
                      <option value="price-ASC">Сначала дешёвые</option>
                      <option value="price-DESC">Сначала дорогие</option>
                      <option value="createdAt-DESC">По дате</option>
                    </select>
                  </div>
                  <div class="col-md-12">
                    <h3 class="form-label">По каким компаниям искать</h3>
                    
                  </div>
                  
                    <% for(let i = 0; i < companies.length; i++) { %>
                      <div class="col-md-2">
                        <div class="form-check">
                          <input name="companies[]" value=<%= companies[i].title %> class="form-check-input" type="checkbox" id=<%= companies[i].title %>>
                          <label class="form-check-label" for=<%= companies[i].title %>><%= companies[i].title %></label> 
                        </div>
                      </div>
                    <% } %>
                

                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-outline-secondary px-4 btn-dark text-light">Запрос</button>
                  </div>
                </form>
              </div>
            </nav>
            
          </div>
          
          
          <!--CONTENT-->
          <div class="row">
            <div class="col-sm-12">
              <h2 class="text-center border-bottom bg-light mt-3">Товары: <%= items.length %></h2>
            </div>
          </div>
          

          <div class="row">
            <% for (let i = 0; i < items.length; i++) {%>
              <div class="col-sm-4 mt-3">
              <div class="card border-dark">
                <img src=<%= items[i].imgPath %> height="315px" class="card-img-top" alt="Item's image"/>
                <div class="card-body">
                  <a class=" fs-5 text-dark bg-light" href=<%= `/items/get/${items[i].id}` %>><%= items[i].title %></a>
                  <p class="card-text p-1 text-secondary">This card has supporting text below as a natural lead-in to additional content.</p>

                  <div class="btn-group shadow-0" role="group" aria-label="Basic example">
                      <p class="text-decoration-none p-2 m-0 bg-light border border-dark"><%= items[i].price %><span class="text-dark ms-1">&#8381</span></p>
                      <a  href="#" class="like-item text-decoration-none p-2 bg-light border border-dark"><p hidden class="itemHiddenId"><%=items[i].id%></p><i class="fa fa-heart-o text-danger" aria-hidden="true"></i><span class="p-1 like-count text-danger"><%= items[i].likes.length %></span></a>
                    <!-- <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark">
                        Купить
                    </button> -->
                  </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><i class="fa fa-clock-o text-dark"></i> <%= moment(items[i].createdAt).format('LLLL')%></small>
                </div>
                
              </div>
            </div>
              
            <% } %>
            
            

          </div>
          
      </main>
    
      
      <!-- Footer -->
      <%- include('partials/footer'); %>
    </div>
    <!-- SCRIPTS -->
    <script src="./../public/assets/script.js"></script>

  </body>
</html>
