<!doctype html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <div class="container py-3">
      <%- include('partials/header'); %>
      <!-- Pills navs -->
      <main>
        <div class="row justify-content-center p-5">
            <nav class="navbar navbar-dark bg-warning ">
                <div class="container-fluid">
                  <form class="row g-3" action="/items/create" method="post" enctype="multipart/form-data">
                    <div class="col-md-12">
                      <h2 class="text-center"> Создать товар</h2>
                    </div>
                    <div class="col-md-12 justify-content-center">
                      <label for="inputItemName" class="form-label">Название товара</label>
                      <input  name="itemName" type="text" class="form-control" id="inputItemName" required>
                    </div>
                    <div class="col-md-3 justify-content-center">
                        <label for="inputItemPrice" class="form-label">Цена товара</label>
                        <input  name="itemPrice" type="text" class="form-control" id="inputItemPrice" required>
                    </div>
                    
                    <div class="col-md-3">
                      <label for="select-categories" class="form-label select-sort me-3">Категория</label>
                      <select name="category" class="form-select select-sort" id="select-categories">
                        <%  for(let i = 0; i < categories.length; i++) { %>
                          <option value="<%= categories[i].title %>"><%= categories[i].title %></option>
                        <% } %>
                        <option value="Неправильная категория"> Неправильная категория(Тест)</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                        <label for="select-companies" class="form-label select-sort me-3">Компания</label>
                        <select name="company" class="form-select select-sort" id="select-companies">
                          <%  for(let i = 0; i < companies.length; i++) { %>
                            <option value="<%= companies[i].title %>"><%= companies[i].title %></option>
                          <% } %>
                          <option value="Неправильная компания"> Неправильная компания(Тест)</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="inputItemImage" class="form-label">Картинка</label>
                        <input  name="image" type="file" class="form-control" id="inputItemImage">
                    </div>
                    
                    <div class="col-md-12">
                      -------------------------------------------------------
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                  </form>
                </div>
              </nav>
        </div>
        
          
      </main>

      <%- include('partials/footer'); %>
  </body>
</html>
